<kendo-grid 
[data]="subCourseDB"
[navigable]="true"

(dataStateChange)="onStateChange($event)"
(edit)="editHandler($event)"
(cancel)="cancelHandler($event)"
(save)="saveHandler($event)"
(remove)="removeHandler($event)"
>

<kendo-grid-command-column title="Action" media="(min-width: 680px)" [width]="80">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
       <button kendoGridEditCommand [primary]="true"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
       <button kendoGridRemoveCommand style="background-color : #971010; border: 2px solid #971010;"><i class="fa fa-trash" aria-hidden="true"></i></button>
       <button kendoGridSaveCommand> {{ isNew ? 'Add' : 'Update' }}</button>
       <button kendoGridCancelCommand> {{ isNew? 'Discard changes' : 'Cancel' }}</button>
     </ng-template>
   </kendo-grid-command-column>

<kendo-grid-column field="subCourseId" title = "SubCourse Id " [width]="100"></kendo-grid-column>
<kendo-grid-column
field="subCourseName"
title="SubCourse Name"
[width]="200"
></kendo-grid-column>
<kendo-grid-column field="description" title="Description" [width]="200"> </kendo-grid-column>
<kendo-grid-column field="type" title = "Type" [width]="100"></kendo-grid-column>
<kendo-grid-column field="duration" title = "Duration" [width]="100"></kendo-grid-column>
</kendo-grid>
