<div style="justify-content: center;">
    <br>
    <br>
<kendo-label style="margin-left : 25%;"> Find Attachments by subcourse : </kendo-label>
 <!--
// [autoClose]="false"
// [checkboxes]="false"
// -->
<kendo-dropdownlist  style="width :20%;"
    [data]="subcourseForAttachments"
    textField="subCourseName"
    valueField="subCourseId"    
    (valueChange)="onGridFilterChange($event)"
></kendo-dropdownlist>
&nbsp;
<kendo-button *ngIf="gridvisible" (click)="editHandler()"> <i class="fa fa-pencil-square-o" aria-hidden="true"> Add/Update Attachment </i></kendo-button>

<div *ngIf="gridvisible">
    <br>
<kendo-grid 
[data]="gridData"
[navigable]="true"

(dataStateChange)="onStateChange($event)"

(remove)="removeHandler($event)"
>

<kendo-grid-command-column title="Delete" media="(min-width: 680px)" [width]="40">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
       <button kendoGridRemoveCommand style="background-color : #971010; border: 2px solid #971010;"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </ng-template>
</kendo-grid-command-column>
// <!--
//     <kendo-grid-column field="courseId" title = "Course ID" [width]="100"></kendo-grid-column>
//     <kendo-grid-column field="courseName" title = "Course Name" [width]="100"></kendo-grid-column>
//     <kendo-grid-column field="subCourseId" title = "SubCourse ID " [width]="100"></kendo-grid-column>
//     <kendo-grid-column field="subCourseName" [width]="150" title="SubCourse Name"></kendo-grid-column>
// -->
<kendo-grid-column field="attachmentId" [width]="80" title="Attachment ID"></kendo-grid-column>
<kendo-grid-column field="fileName" [width]="80" title="File Name"></kendo-grid-column>
<kendo-grid-column field="description"  [width]="200" title="Description"> </kendo-grid-column>
<kendo-grid-column field="attachmentType" title = "Type" [width]="100"></kendo-grid-column>
<kendo-grid-column field="attachmentDuration" title = "Duration (hours)" [width]="90"></kendo-grid-column>
</kendo-grid>
</div>
</div>